/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 5, 2018, 10:30:25 AM
    Author     : PaulDunn
*/

body
{
    font-family: Palatino;
    font-size: 1em;
    font-weight: normal;
    color: #FFFFFF;
    background-color: rgba(0, 200, 100, .6);
}

h1
{
    text-shadow: 1px 1px #002222;    
}

ul
{
    list-style: none;
}

li
{
    margin-bottomn: 12px;
}

button
{
    height: 144px;
    width: 144px;
    background-color: #003311;
    color: white;
    font-size: bold;
    font-size: 1.6em;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;      
}

.container
{
    text-align: center;
    width: 80%;   
    border: 1px #001100 white;
    margin: 5%;
    padding: 5%;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;  
    background-color: rgba(0, 200, 100, .8);    
}
